:root{
    padding:0;
    margin:0;
scroll-behavior: smooth;
}
.navbar{
    position:fixed;
    width:100%;
    z-index: 100;
font-size: large;
font-weight: bolder;
    top:0;
    background-color: #141c3a;
}


body{
    background-color: white;
}

.box1{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

h1{
    font-size:40px;
    font-family: 'Acme';
    font-weight: bolder;
}

p{
font-size: 23px;
padding:10px 80px;
font-family:'Amaranth';
}

img{
    padding: 30px 20px;
}

#base{
    margin-top: 40px;
    width:40%;
    padding:0;
}
.box2{
    background-color: #6e07f3;
    width: 100%;
    height:340px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.box2 h2,h2{
    font-size: xx-large;
    color: white;
    padding:10px;
    font-family:'Acme';
    text-align: center;
    font-weight: bolder;
}
.box2 p{
    color: white;
    font-size: 23px;
    width: 70%;
}

.bigbox1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
margin-top:-55px;
}
.box3{
    width:95%;
    background-color: white;
border-radius: 25px;
box-shadow: 2px 2px 15px black;
display: flex;
border:0.1px solid black;
flex-direction: row;
justify-content: center;
text-align: center;
}

.minbox{
    width: 100%;
    border-right: 0.1px black solid;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}
.minbox3{
    border-radius: 25px;
    border-right: 0;
}
.box3 h3{
    padding-top: 20px;
font-size: xx-large;
    font-family: 'Acme';

}
.box3 h4{
    padding-top: 20px;
    font-size: x-large;
        font-family: 'Acme';
}

.box3 p{
    font-size: 20px;
}
.box3 a{
    width: 50%;
    background: black;
    text-decoration: none;
    border-radius: 25px;
     color: white;
    font-size: 23px;
    width: 70%;
    margin-bottom: 20px;
    align-self: center;
    padding: 5px;
    font-family: "Amaranth";
}
.space{
    width: 100%;
    height:100px;
}
.space1{
    width: 100%;
    height:60px;
}
.bigbox2{
    display: flex;
    justify-content: center;
    width: 100%;
}

.box4{
    background-color: #141c3a;
    display: flex;
    width:90%;
    height: 200px;
    border-radius: 30px;
    box-shadow: 2px 2px 15px black;
flex-direction: row;
justify-content: space-around;
color:white;
margin-bottom: -40px;
align-items: center;
}
.box4 h2{
    width:100%;
}
.box4 p{
    width:100%;
}

.box4 a{
    width:min-content;
    text-decoration: none;
    border-radius: 25px;
     color: white;
     text-align: center;
    font-size: 23px;
    width: 70%;
    margin-bottom: 20px;
    align-self: center;
    padding: 5px;
    font-family: "Amaranth";
}
a span{
    padding:20px;
    transition: all 1s;
    border-radius: 30px;
    border:2px solid #52d0a9;
}
.box4 span:hover{
    background:#52d0a9;
    color:#141c3a;
}
.box5{
    background-color: #6e07f3;
    width: 100%;
    display:flex;
    flex-direction: column;
    height:auto;
    justify-content: center;
    align-items: center;
    padding-top:100px ;
}
.box5 .links{
 width:100%;
 display: flex;
 justify-content: space-evenly;
 align-items:start;
 flex-direction: row;
}
i{
    color:white;
}
.box3{
    flex-direction: row-reverse;
}

@media (max-width:1024px){
    .box1{
        margin-top: 60px;
    }
    #base{
        margin-top: 40px;
        width:100%;
        padding:0;
    }
    .box2{
        height:auto;
        align-items: start;
    }
    .box2 h2{
        padding-top: 50px;
        text-align: center;
    }
    .box2 p{
      text-align: start;
        width:100%;
        padding-bottom: 60px;
    }
    .box3{
        flex-direction: column;
        border: 0;
        box-shadow: none;
        background: transparent;
    }
    .bigbox1{
        margin-top: 0;
        padding-bottom: 40px;
    }

    .minbox{
        height: auto;
        border-right: 0;
        border-radius: 25px;
        box-shadow: 2px 2px 15px black;
        border: 0.1px solid black;
        margin-top: 50px;
    
    }
    .box4{
        flex-direction: column;
        height:auto;
        padding: 30px;
    }


}
