<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Short Urls Are Here</title>
</head>
<body>
    <ol>

<% urls.forEach(url => { %>

<li> <a href="url/<%= url.shortId %>" target="_blank"> <%=  url.shortId   %></a> - <%=  url.visitHistory.length   %></li>

<% }); %>
</ol>
</body>
</html>