@import url("https://fonts.googleapis.com/css?family=Salsa");
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
body{
  background: url(back.jpeg);
  background-repeat: round;
    background-size: contain;
     background-attachment: fixed;
    
}

.photobooth h1{
    font-size: 60px;
    color:white;
    font-family: 'Salsa';
    position: fixed;
    top:10%;
    text-align: center;
   left:50px;
}

.photobooth {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px;

}

/*clearfix*/
.photobooth:after {
  content: '';
  display: block;
  clear: both;
}

.photo {
  max-width: 70%;
  float: left;
  border-radius: 15px;
  box-shadow: 2px 2px 30px white ;
  backdrop-filter: blur(20px);
  transform:rotateY(180deg)
   
}

.player {
  position: fixed;
  bottom:20px;
  right: 20px;
  width:200px;
  display: none;
}

button {
  padding: 17px 40px;
  border-radius: 10px;
  border: 0;
  background-color: rgb(255, 56, 86);
  letter-spacing: 1.5px;
  font-size: large;
  font-family: Salsa;
  transition: all 0.3s ease;
  font-weight:bolder;
  box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  margin:10px;
}

button:hover {
  box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
}

button:active {
  background-color: rgb(255, 56, 86);
  /*50, 168, 80*/
  box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
  transform: translateY(5px);
  transition: 200ms;
}
/*
  Strip!
*/


.strip {
  /* padding: 2rem; */
  display: flex;
  flex-direction: row;
  overflow-x:auto;
  width: 100%;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}

.strip img {
  width: 250px;
  overflow-x: scroll;
  margin:5px;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);

}
 .strip  ::-webkit-scrollbar {
  width: 1px;
}

/* Track */
.strip  ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.strip  ::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


@media(max-width:728px){
  .photo {
  width: 100%;
  }
 .controls{
   display: flex;
   flex-direction: row;
   overflow-x: auto;

 }
.photobooth h1{
    font-size: xx-large;
    color:white;
    font-family: 'Salsa';
    position: relative;
    top:inherit;
    text-align: center;
   left:inherit;
}
button {
  padding: 10px 20px;

}
}
/* 
.strip a:nth-child(5n+1) img { transform: rotate(10deg); }
.strip a:nth-child(5n+2) img { transform: rotate(-2deg); }
.strip a:nth-child(5n+3) img { transform: rotate(8deg); }
.strip a:nth-child(5n+4) img { transform: rotate(-11deg); }
.strip a:nth-child(5n+5) img { transform: rotate(12deg); } */