:root {
    --radius: 25px;
  }
body{
    overflow-x: hidden;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    height:100%;
    align-items: center;
}
body{
    background-color: #231D15;
}

.box2{
    display: flex;
    flex-direction: row;
}
h1{
    text-align: center;
    margin-top: 20px;
    color:white;
    font-family: 'Bungee Spice';
    font-size: 90px;
    margin-bottom: 20px;
}

button{
    font-family: 'Bungee Spice';
    font-size:x-large;
    background-color: #231b0f;
    border-bottom-right-radius: var(--radius);
    border-top-right-radius: var(--radius);
    border:0;
    border-bottom-left-radius: none;
    padding:8px;
    box-shadow: 0px 0px 10px goldenrod;

}
input[type="text"]{
    padding:5px;
    width:600px;
    font-size: x-large;
    border-bottom-left-radius:  var(--radius);
    border-top-left-radius:  var(--radius);
    border-bottom-right-radius: none;
    text-align: center;
    box-shadow: 0px 0px 10px goldenrod;
    border:0;
}

#results{
 display:grid;
 padding:30px;
 grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
 gap:40px;
 place-items: center;
}

#results a{
    width:300px;
    height:300px;
    transition: all 1s;
}

#results a:hover{
    transform:scale(1.1);
}

#results img{
    width:100%;
    height:300px;
    object-fit: cover;
    border-radius: 5px;
    margin:10px;
    box-shadow: 0px 0px 10px white;
}
.show{
    transition: all 0.5s;
    animation:show 2s linear;
}
textarea:focus, input:focus{
    outline: none;
}

@keyframes show {

    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }

}

@media(max-width:730px){
    #results{
        padding-top: 50px;
        display: flex;
        flex-direction: column;
align-items: center;
        padding:0;
        width:100%;
        gap:60px;
    }
 
    h1{
        font-size: 50px;
        margin-top: 5px;
    }
    input[type="text"]{
width: auto;
font-size: 16px;
min-width: 200px;
    }
    #results a{
        width:80%;
    }
    #results img{
        width:100%;
        height:100%;
        display: block;
    }
    .box2{
        padding-top: 20px;
        flex-direction: row;
        padding-bottom: 40px;
    }
    .box1{
        padding-top: 20px;
    }

    #results a:hover{
        transform:scale(1.05);
    }
}
