body{
    background-color:#292015;
    color:white;
width:100%;
height: 100%;
  }
  
div label{
    font-size: larger;
    font-weight: bold;
    text-align: center;
}
label{
  padding:10px;
  border-bottom:1px solid rgba(255, 255, 255, 0.39);
  width:100%;
}

.bigbox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:100%;
    height:100% ;
}

#codebox div{
  flex:1;
}
#codebox div *{
  flex:1;
}
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 15px;
  font-weight: bolder;
}
#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}


.list{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: bolder;
  font-size: larger;
  padding:5px;
  border-radius: 25px;
  text-align: center;
  display:none;
border:1px white solid;
}
.list div{
  text-align: center;
  width:100%;
  border-right: 1px white solid;
}

.list div:nth-child(3){
  border-right:none;
}

textarea{
  line-break: anywhere;
  word-break: break-all;
  white-space: pre-wrap;
  height:100%;
}
.container{
    padding:0;
    display: flex;
    flex-direction: column;
}
.container h2#outputtext{
  text-align: center !important;
  color:white !important;
  font-size: 30px !important;
  padding:0px !important;
  background: transparent !important;
}

#codebox{
    width:100%;
    display:flex;
    flex-direction: row;
    bottom:0;
justify-content: space-between;    
    max-height: 100%;
    border-top:1px solid rgba(255, 255, 255, 0.39);
}
#codebox> div:nth-of-type(1){
  display:flex;
width:100%;
  flex-direction: row;

}

.container .col1{
    display: flex;
    width: 100%;
    justify-content: start;
    flex-direction: column;
    align-items: center;
}

.col{
    background-color: #212529;
    border-left:1px rgba(255, 255, 255, 0.4) solid;
    max-width: 33.3%;
}

.col textarea{
  min-height:100%;
}

::-webkit-scrollbar { width: 8px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #646464;}
::-webkit-scrollbar-track-piece { background-color: #000;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #646464;}

::-webkit-resizer { background-color: #666;}

#codebox .row{
    width:100%;
}
#output{
    width:100%;
    background-color: white;
    color:black;
    max-height: 100%;
    min-height: 300px;
    flex:1;

}
#codebox{
  flex:1;
}
.container{
  flex:1;
}
.container .col1{
  flex:1;
  width:100%; 
}
.col,#codebox{
  background:#231C14;
}
.glitter{
  color: #fff;
  position: relative;
}

.glitter::after,
.glitter::before {
  content: "";
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
  background-size: 400%;
  position: absolute;
  top: -2px;
  border-radius: 5px;
  left: -2px;
  z-index: -1;
  animation: animated-shadow 15s linear infinite alternate;
}

.glitter::after{
  filter: blur(15px);
}

@keyframes animated-shadow {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 0;
  }
}




@media(max-width:768px){
  .container{
    padding:10px;
  }
.col{
  border:1px rgba(255, 255, 255, 0.4) solid;

}
#codebox{
  flex:1;
}

.bigbox{
  flex-direction: column;
}
#codebox>div:nth-of-type(1){
  flex-direction: column;
}
.col{
  background-color: #212529;
  border-left:1px rgba(255, 255, 255, 0.4) solid;
  max-width: 100%;
}
}

